#cart-icon {
  font-size: 4em;
  font-weight: bold;
  color: red;
}

.calculator-app{
  background: lavender;
  position: absolute;
  width: 100%;
  min-height: 100%;
  height: max-content;
  font-family: Chalkduster, Papyrus, Fantasy;
  text-align: center;
  padding-top: 50px;
}

.calculator-title{
  background: lavender;
  text-align: center;
}

.quantity-input {
  background-color: white;
}

.discount-input {
  background-color: white;
}

.add-button{
  margin-left: 20px !important;
  margin-top: 10px !important;
}

.calculate-button {
  margin-top: 50px;
}

.cart-item {
  font-size: 1.2em;
  margin-top: 10px;
  margin-bottom: 10px;
}

.notification{
  color: red;
}

/* DESKTOP */
@media (min-width: 1025px) {
  .items-calculator{
    margin-left: 20%;
    width: 400px;
    text-align: center;
    display: flex;
    flex-direction: column;

  }

  .cart{
    margin-left: 10%;
    margin-right: 5%;
    min-width: 200px;
  }

  .calculator {
    display: flex;
    flex-direction: row;
  }

  .remove-button {
    margin-left: 20px !important;
  }
}

/* TABLET */
@media (min-width: 768px) and (max-width: 1024px) {
  .items {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 400px;
    text-align: center;
  }
  .chosen-quantity{
    margin-top: 20px !important;
  }

  .calculator {
    display: flex;
    flex-direction: column;
  }

  .cart{
    padding-top: 30px;
    padding-right: 20px;
  }

  .remove-button {
    margin-left: 20px !important;
  }
}

/* MOBILE */
@media (max-width: 767px) {
  .items {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
  }

  .chosen-quantity{
    margin-top: 20px !important;
  }

  .calculator {
    display: flex;
    flex-direction: column;
  }

  .cart{
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .remove-button {
    margin-top: 10px !important;
    margin-left: 20px !important;
  }
}


